{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block content %}
<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('images/fond.jpg');">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Me contacter</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="https://formspree.io/thomas.leydet@ynov.com" method="POST">
                      <div class="p pb-3"><strong>Contactez moi</strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="nom" placeholder="Nom" requi="requi"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="sujet" placeholder="Sujet" requi="requi"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="mail" placeholder="Mail" requi="requi"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message" requi="requi"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Envoyer</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Adresse </strong></p>
                    <p class="pb-2">1600 route des milles</p>
                    <p class="mb-0"><strong>Numéro</strong></p>
                    <p class="pb-2">07 60 17 98 99</p>
                    <p class="mb-0"><strong>Mail</strong></p>
                    <p>thomas.leydet@ynov.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
