{# templates/blog/index.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12 m7 l9">
				<div class="article-card image-card" style="background: url('https://images.pexels.com/photos/276402/pexels-photo-276402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
					<h2><a href="">Titre Article</a></h2>
					<span class="date">01/03/2021</span>
				</div>
			</div>
			<div class="col s12 m5 l3">
				<div class="row">
					<div class="col s12 m12 l12">
						<div class="article-card image-card" style="background: url('https://images.pexels.com/photos/276432/pexels-photo-276432.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' );">
							<h2><a href="">Titre Article</a></h2>
							<span class="date">01/03/2021</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276410/pexels-photo-276410.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Titre Article</a></h2>
					<span class="date">01/03/2021</span>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276411/pexels-photo-276411.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Titre Article</a></h2>
					<span class="date">01/03/2021</span>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276422/pexels-photo-276422.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Titre Article</a></h2>
					<span class="date">01/03/2021</span>
				</div>
			</div>
			<div class="col s12 m4 l3">
				<div class="article-card">
					<img src="https://images.pexels.com/photos/276402/pexels-photo-276402.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="responsive-img">
					<h2><a href="">Titre Article</a></h2>
					<span class="date">01/03/2021</span>
				</div>
			</div>
		</div>
	</div>
{% endblock %}